html,body
{
	padding:0;
	margin:0;
	background:url("../img/bg.png");
	background-repeat:repeat-x;
	color: #999b9d;
	font-family: calibri;
	font-size:12px;
}

h3 {
	margin-bottom: 0px;
	margin-top: 0px;
}

::-webkit-scrollbar {
    width: 0 !important;
}

#loading
{
	padding:0;
	margin:40px 130px;
}

.contentArea
{
	overflow: auto;
	height: 366px;
	margin: 0;
	margin-top:-6px;
	padding: 0;
}

#wrapper
{
	height: 400px;
	overflow: hidden;
}

#navigation
{
	background-color:#fff;
	height: 400px;
	background-color:#0d0d0d;
}

ul
{
	list-style-type:none;
	margin:0;
	padding:0;
}

.idTabs a
{
	text-decoration:none;
	display:block;
	height:24px;
	background-color:#0d0d0d;
	padding: 12px 0px 4px 13px;
}

.idTabs a:hover
{
	background-color:#17191d;
}

li
{
	height:24px;
	width:24px;
}

.selected
{
	background-color:#21252a !important;
}

.header
{
	height: 40px;
	background: url("../img/bgHeader.png");
	background-repeat:repeat-x;
	color: #97b7d1;
	z-index:99;
	position: relative;
}

.header span
{
	line-height:46px;
	margin-left: 10px;
	font-size: 18px;
	font-family: calibri;
	font-weight: bold;
}

#tblNews
{
	width:100%;
	margin-top:-5px;
}

#tblNews td
{
	padding: 8px;
}

#tblNews tr
{
	display:block;
	border-bottom: 1px solid #404351;
}

.newsLink, .streamsLink, .redditComments, #tblEvents a
{
	text-decoration: none;
	color:#c7c9cb;
}

.redditComments:hover, .redditAuthor:hover, .newsLink:hover, #tblEvents a
{
	color:#fff;
}

.redditAuthor
{
	text-decoration: none;
	color:#eee;
}

#tblReddit, #tblStreams, #tblEvents
{
	padding:0px;
	border-spacing: 0px;
	width: 100% !important;
}

#tblReddit tr:hover, #tblReddit tr:nth-child(even):hover, 
#tblStreams  tr:hover, #tblStreams  tr:nth-child(even):hover,
#tblEvents tr:hover, #tblEvents  tr:nth-child(even):hover,
#tblNews tr:hover
{
	background-color:#2f3943;
}

#tblReddit tr:nth-child(even), #tblStreams  tr:nth-child(even), #tblEvents  tr:nth-child(even)
{
	background-color:#181d22;
}

#tblReddit span
{
	display:block;
	color:#c7c9cb;
	padding:0px 2px;
	margin:0;
}

.redditLink
{
	color: #aaa;
	text-decoration:none;
}

.redditLink:hover
{
	color: #c7c9cb;
}

.streamName
{
	float: left;
	font-size: 14px;
}

.viewerCount
{
	padding: 0px 20px 0px 0px;
	margin:0;
	display:inline !important;
	float: right;
}

.streamDesc
{
	float: left;
	width: 220px !important;
	padding: 2px 2px 2px 2px;
}

#tblEvents td
{
	padding: 10px;
}

#tblEvents span
{
	margin-left:10px;
}

.teams
{
	font-size: 16px;
}

#moreStreams
{
	background-color:#1c222b;
	color:#97b7d1;
	padding: 20px 10px;
	margin:5px;
	display:block;
	text-align:center;
	text-decoration:none;
}

#moreStreams:hover
{
	background-color:#181d22;
}

/*
 * Icons
 */

.iconHome
{
	background-image: url("../img/icons/home.png");
	background-repeat: no-repeat;
}

.iconStreams
{
	background-image: url("../img/icons/streams.png");
	background-repeat: no-repeat;
}

.iconReddit
{
	background-image: url("../img/icons/reddit.png");
	background-repeat: no-repeat;
}

.iconEvents
{
	background-image: url("../img/icons/events.png");
	background-repeat: no-repeat;
}

.iconNews
{
	background-image: url("../img/icons/news.png");
	background-repeat: no-repeat;
}

.iconRefresh
{
	background-image: url("../img/icons/refresh.png");
	width:16px;
	height:16px;
	position:absolute;
	left:13px;
	bottom:0;
	margin-bottom:13px;
}

.iconOptions
{
	background-image: url("../img/icons/settings.png");
	width:16px;
	height:16px;
	position:absolute;
	left:13px;
	bottom:0;
	margin-bottom:13px;
}

.q
{
	color: white;
}

h2
{
	margin: 0;
	padding: 2px 2px 2px 2px;
	color: #97b7d1;
}

table
{
	padding-left: 10px;
}

td
{
	padding: 5px 2px 2px 5px;
}